.card_info{
    width:min-content;
    border-radius: 15%;
    border: 2rem black;
    border-color: black;
    height: max-content;
    box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    cursor: pointer;
}

.image{
    border-radius: 15%;
    border-color: black;
    border: 1em;
    margin: 5px;
    width: min-content;
    height: min-content;
}

.options{
    position: relative;
    right: 0px;
    width: 1em;
}

.metadata{
    flex-direction:column;
    display: flex;
    flex-wrap: wrap;
    word-wrap: normal break-word initial inherit;
    word-break: break-all;
}

.info{
    flex-direction: row;
    display: flex;
    text-overflow: ellipsis;

}